USE [master]
GO
/****** Object:  Database [Java]    Script Date: 10/21/2021 9:57:48 PM ******/
CREATE DATABASE [Java]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Java', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Java.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Java_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Java_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Java].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Java]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[idAcc] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAcc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[idHoaDonDichVu] [int] NOT NULL,
	[idDichVu] [int] NOT NULL,
	[soLanSuDung] [varchar](3) NOT NULL,
	[ngaySuDung] [date] NOT NULL,
	[thanhTien] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[idChucVu] [int] IDENTITY(1,1) NOT NULL,
	[tenChucVu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[idDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[idDichVu] [int] IDENTITY(1,1) NOT NULL,
	[tenDichVu] [nvarchar](100) NOT NULL,
	[gia] [float] NOT NULL,
	[idDonVi] [int] NULL,
	[anhSanPham] [image] NULL,
	[idDanhMuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donViTinh]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donViTinh](
	[idDonVi] [int] IDENTITY(1,1) NOT NULL,
	[tenDonVi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[idhoaDon] [int] IDENTITY(1,1) NOT NULL,
	[idPhieuThue] [int] NULL,
	[idHoaDonDichVu] [int] NULL,
	[tienGio] [float] NULL,
	[tienDichVu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idhoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDichVu]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDichVu](
	[idHoaDonDichVu] [int] IDENTITY(1,1) NOT NULL,
	[idPhong] [int] NOT NULL,
	[tongTien] [float] NOT NULL,
	[ngayTao] [date] NOT NULL,
	[moTa] [nvarchar](200) NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoaDonDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[soCMND] [varchar](12) NOT NULL,
	[tenKhach] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](150) NULL,
	[hoChieu] [varchar](15) NULL,
	[soDT] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[soCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[idLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[tenLoaiPhong] [nvarchar](20) NOT NULL,
	[giaGio] [float] NOT NULL,
	[giaNgay] [float] NULL,
	[giaThang] [float] NULL,
	[giaQuy] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[idNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[sex] [nvarchar](5) NOT NULL,
	[luong] [float] NOT NULL,
	[idChucVu] [int] NOT NULL,
	[diaChi] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[ngayVaoLam] [date] NOT NULL,
	[trangThai] [varchar](50) NOT NULL,
	[hinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[idNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuThuePhong]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuThuePhong](
	[idPhieuThue] [int] IDENTITY(1,1) NOT NULL,
	[idPhong] [int] NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[soCMND] [varchar](12) NOT NULL,
	[soNguoi] [int] NOT NULL,
	[ngayDat] [datetime] NOT NULL,
	[ngayDi] [datetime] NULL,
	[hinhThucThue] [nvarchar](50) NULL,
 CONSTRAINT [PK__phieuThu__27BC5A6976D4E20E] PRIMARY KEY CLUSTERED 
(
	[idPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 10/21/2021 9:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[idPhong] [int] IDENTITY(1,1) NOT NULL,
	[idLoaiPhong] [int] NOT NULL,
	[tenPhong] [nvarchar](10) NOT NULL,
	[soKhachMax] [varchar](2) NOT NULL,
	[ngayDat] [date] NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([idAcc], [ten], [email], [pass]) VALUES (1, N'Anh', N'a@gmail.com', N'123')
INSERT [dbo].[Account] ([idAcc], [ten], [email], [pass]) VALUES (2, N'admin', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[ChiTietDichVu] ([idHoaDonDichVu], [idDichVu], [soLanSuDung], [ngaySuDung], [thanhTien]) VALUES (1, 1, N'2', CAST(N'2020-12-12' AS Date), 10000)
INSERT [dbo].[ChiTietDichVu] ([idHoaDonDichVu], [idDichVu], [soLanSuDung], [ngaySuDung], [thanhTien]) VALUES (1, 1, N'2', CAST(N'2021-10-11' AS Date), 1000)
INSERT [dbo].[ChiTietDichVu] ([idHoaDonDichVu], [idDichVu], [soLanSuDung], [ngaySuDung], [thanhTien]) VALUES (1, 6, N'5', CAST(N'2021-10-11' AS Date), 50000)
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([idChucVu], [tenChucVu]) VALUES (1, N'Admin')
INSERT [dbo].[ChucVu] ([idChucVu], [tenChucVu]) VALUES (2, N'Quản lý')
INSERT [dbo].[ChucVu] ([idChucVu], [tenChucVu]) VALUES (3, N'Lễ tân')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([idDanhMuc], [tenDanhMuc]) VALUES (1, N'Tất cả')
INSERT [dbo].[DanhMuc] ([idDanhMuc], [tenDanhMuc]) VALUES (2, N'Đồ uống')
INSERT [dbo].[DanhMuc] ([idDanhMuc], [tenDanhMuc]) VALUES (3, N'Ăn vặt')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([idDichVu], [tenDichVu], [gia], [idDonVi], [anhSanPham], [idDanhMuc]) VALUES (1, N'Giặt ủi', 5000, 1, NULL, 4)
INSERT [dbo].[DichVu] ([idDichVu], [tenDichVu], [gia], [idDonVi], [anhSanPham], [idDanhMuc]) VALUES (2, N'Dọn phòng', 2000, 1, NULL, 4)
INSERT [dbo].[DichVu] ([idDichVu], [tenDichVu], [gia], [idDonVi], [anhSanPham], [idDanhMuc]) VALUES (3, N'Ăn sáng', 1000, 1, NULL, 5)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[donViTinh] ON 

INSERT [dbo].[donViTinh] ([idDonVi], [tenDonVi]) VALUES (1, N'xuất')
INSERT [dbo].[donViTinh] ([idDonVi], [tenDonVi]) VALUES (2, N'ly')
INSERT [dbo].[donViTinh] ([idDonVi], [tenDonVi]) VALUES (3, N'lon')
SET IDENTITY_INSERT [dbo].[donViTinh] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([idhoaDon], [idPhieuThue], [idHoaDonDichVu], [tienGio], [tienDichVu]) VALUES (22, 1, 4, 3432000, 60000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonDichVu] ON 

INSERT [dbo].[HoaDonDichVu] ([idHoaDonDichVu], [idPhong], [tongTien], [ngayTao], [moTa], [trangThai]) VALUES (1, 1, 10000, CAST(N'2021-08-08' AS Date), NULL, 0)
INSERT [dbo].[HoaDonDichVu] ([idHoaDonDichVu], [idPhong], [tongTien], [ngayTao], [moTa], [trangThai]) VALUES (2, 2, 39000, CAST(N'2021-08-08' AS Date), NULL, 1)
INSERT [dbo].[HoaDonDichVu] ([idHoaDonDichVu], [idPhong], [tongTien], [ngayTao], [moTa], [trangThai]) VALUES (3, 3, 5000, CAST(N'2021-08-08' AS Date), NULL, 0)
SET IDENTITY_INSERT [dbo].[HoaDonDichVu] OFF
GO
INSERT [dbo].[KhachHang] ([soCMND], [tenKhach], [diaChi], [hoChieu], [soDT]) VALUES (N'123123123', N'qứedasd', N'ádasd', N'ádasdasd', N'?easd     ')
INSERT [dbo].[KhachHang] ([soCMND], [tenKhach], [diaChi], [hoChieu], [soDT]) VALUES (N'241775263', N'Nam', N'BMT', N'', N'0945623512')
INSERT [dbo].[KhachHang] ([soCMND], [tenKhach], [diaChi], [hoChieu], [soDT]) VALUES (N'987654321', N'Đông sì ke', N'bmt', N' ', N'0999111111')
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([idLoaiPhong], [tenLoaiPhong], [giaGio], [giaNgay], [giaThang], [giaQuy]) VALUES (1, N'Phòng Đơn', 60000, 120000, 1500000, 3500000)
INSERT [dbo].[LoaiPhong] ([idLoaiPhong], [tenLoaiPhong], [giaGio], [giaNgay], [giaThang], [giaQuy]) VALUES (2, N'Phòng Đôi', 80000, 150000, 2000000, 4000000)
INSERT [dbo].[LoaiPhong] ([idLoaiPhong], [tenLoaiPhong], [giaGio], [giaNgay], [giaThang], [giaQuy]) VALUES (3, N'Phòng Chung', 90000, 180000, 2200000, 4200000)
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[phieuThuePhong] ON 

INSERT [dbo].[phieuThuePhong] ([idPhieuThue], [idPhong], [idNhanVien], [soCMND], [soNguoi], [ngayDat], [ngayDi], [hinhThucThue]) VALUES (1, 3, 1, N'987654321', 2, CAST(N'2021-10-10T00:00:00.000' AS DateTime), NULL, N'Giờ-60000.0')
INSERT [dbo].[phieuThuePhong] ([idPhieuThue], [idPhong], [idNhanVien], [soCMND], [soNguoi], [ngayDat], [ngayDi], [hinhThucThue]) VALUES (3, 2, 1, N'987654321', 5, CAST(N'2021-10-14T12:28:06.517' AS DateTime), NULL, N'Giờ-80000.0')
INSERT [dbo].[phieuThuePhong] ([idPhieuThue], [idPhong], [idNhanVien], [soCMND], [soNguoi], [ngayDat], [ngayDi], [hinhThucThue]) VALUES (4, 5, 1, N'241775263', 3, CAST(N'2021-10-14T12:48:34.067' AS DateTime), CAST(N'2020-10-10T00:00:00.000' AS DateTime), N'Ngày-200000.0')
SET IDENTITY_INSERT [dbo].[phieuThuePhong] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([idPhong], [idLoaiPhong], [tenPhong], [soKhachMax], [ngayDat], [trangThai]) VALUES (1, 1, N'Phòng 1', N'2', CAST(N'2020-12-12' AS Date), N'Bảo trì')
INSERT [dbo].[Phong] ([idPhong], [idLoaiPhong], [tenPhong], [soKhachMax], [ngayDat], [trangThai]) VALUES (2, 2, N'Phòng 2', N'5', CAST(N'2020-12-12' AS Date), N'Đang sử dụng')
INSERT [dbo].[Phong] ([idPhong], [idLoaiPhong], [tenPhong], [soKhachMax], [ngayDat], [trangThai]) VALUES (3, 5, N'Phòng 3', N'2', CAST(N'2020-12-12' AS Date), N'Đang sử dụng')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD FOREIGN KEY([idDichVu])
REFERENCES [dbo].[DichVu] ([idDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD FOREIGN KEY([idHoaDonDichVu])
REFERENCES [dbo].[HoaDonDichVu] ([idHoaDonDichVu])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([idDanhMuc])
REFERENCES [dbo].[DanhMuc] ([idDanhMuc])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([idDonVi])
REFERENCES [dbo].[donViTinh] ([idDonVi])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idHoaDonDichVu])
REFERENCES [dbo].[HoaDonDichVu] ([idHoaDonDichVu])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idPhieuThue])
REFERENCES [dbo].[phieuThuePhong] ([idPhieuThue])
GO
ALTER TABLE [dbo].[HoaDonDichVu]  WITH CHECK ADD FOREIGN KEY([idPhong])
REFERENCES [dbo].[Phong] ([idPhong])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([idChucVu])
REFERENCES [dbo].[ChucVu] ([idChucVu])
GO
ALTER TABLE [dbo].[phieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK__phieuThue__idNha__3C69FB99] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[phieuThuePhong] CHECK CONSTRAINT [FK__phieuThue__idNha__3C69FB99]
GO
ALTER TABLE [dbo].[phieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK__phieuThue__idPho__3A81B327] FOREIGN KEY([idPhong])
REFERENCES [dbo].[Phong] ([idPhong])
GO
ALTER TABLE [dbo].[phieuThuePhong] CHECK CONSTRAINT [FK__phieuThue__idPho__3A81B327]
GO
ALTER TABLE [dbo].[phieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK__phieuThue__soCMN__3B75D760] FOREIGN KEY([soCMND])
REFERENCES [dbo].[KhachHang] ([soCMND])
GO
ALTER TABLE [dbo].[phieuThuePhong] CHECK CONSTRAINT [FK__phieuThue__soCMN__3B75D760]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([idLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([idLoaiPhong])
GO
USE [master]
GO
